.header{
    background-color: #ffffff;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    max-width: 100%;
}

.header-logo{
    width: 224px;
}

.main-caption{
    font-size: 48px;
    line-height: 58px;
    color: #333333;
    margin: 0;
    padding: 0;
}

.btn{
    outline: none;
}

.header-container{
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 4px;
    justify-content: space-between;
}

.menu-container{
    display: flex;
    flex-wrap: wrap;
}

.menu-list{
    display: flex;
    font-size: 18px;
    font-weight: 600;
    margin-right: 105px;
}
.menu-list-item{
    transition: border linear 0.1s;
}
.menu-list-item:hover{
    transition: border linear 0.1s;
    border-bottom: 2px solid #FF9900;
}
.menu-list-item:not(:last-child){
    margin-right: 85px;
}

.btn-search{
    position: absolute;
    background: url("../img/Search.svg") no-repeat;
    width: 25px;
    height: 25px;
    right: 12px;
    top: 40px;
    border: none;
    transition: linear 0.01s;
}

.btn-search:hover{
    width: 30px;
    height: 30px;
    background: url("../img/Searchgold.svg")no-repeat;
}
.burger{
    display: none;
    width: 30px;
    height: 23px;
    background: url("../img/Burger.svg") no-repeat;
    border: none;
    transition: linear 0.1s;
}

.burger:active{
    transition: linear 0.1s;
    background: url("../img/Burgerhover.svg") no-repeat;
}

.menu{
    position: absolute;
    width: 400px;
    height: 600px;
    background-color:#FFFFFF;
    z-index: 999;
    top: 82px;
    transition: 0.5s ease-in-out;
    transform: translateX(-300%);
    box-shadow: inset 0 0 7px rgba(0,0,0,0.4);
    padding-top: 100px;
    padding-left: 100px;
}

.menu-active{
    transform: none;
}

.menu-list-item-mobile{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}