.question{
    margin-bottom: 102px;
    font-size: 24px;
}

.caption-question{
    font-weight: normal;
}
.question-list-item:first-child{
    border-top:1px solid #333333;
    padding-top: 39px;
    padding-bottom: 42px;
}

.question-list-item{
    position: relative;
    padding-top: 43px;
    padding-bottom: 43px;
    margin-top: -5px;
    border-bottom:1px solid #333333;
    font-weight: bold;
    transition: color linear 0.1s;
}

.question-link:hover{
    transition: color linear 0.1s;
    color: #FF9900;
}
    
.question-list{
    margin-left: 6px;
}

.d::after{
    content: " ";
    float: right;
    width: 50px; 
    height: 50px;
    float: right;
    background-color: #ECECEC;
    border-radius: 50%;
    cursor: pointer;
    background-image: url("../img/+.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -10px;
}

.d:hover::after{
    content: " ";
    width: 50px; 
    height: 50px;
    background-color: #D2D2D2;
}

.ui-state-active{
    background: none !important;
    color: #333333 !important;
    border-radius: 0px !important;
    border: none !important;
    border-top: 1px solid #CACACA !important;
    border-bottom: 1px solid #CACACA !important;
    outline: none;
}

.ui-state-default{
    background: none !important;
    color: #333333 !important;
    border-radius: 0px !important;
    border: none !important;
    border-top: 1px solid #CACACA !important;
    outline: none;
}

.question-link:nth-of-type(5n){
    border-bottom: 1px solid#CACACA !important;
}

.ui-icon{
    display: none !important;
}

.ui-widget-content{
    border: none !important;
    font-weight: 400;
    min-height: 100% !important;
    overflow: hidden !important;
}

.ui-accordion .ui-accordion-header{
    padding: 38px 0px 40px 6px !important;
    font-size: 24px !important;
    line-height: 32px;
    font-style: normal;
    font-weight: 700;
    width: 100%;
}

.ui-accordion-header:hover{
    color: #FF9900 !important;
}